$main-color: rgb(50,255,255);
$secondary-color: rgb(50,50,50);
$grey: rgb(104,96,90);
$lightgrey: rgb(197,185,179);
$grey-blue: rgb(130,141,149);
$tanwhite: rgb(244,243,237);






h1{
font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}

p{
   font-family: 'Open Sans', sans-serif;
 
    
}